<div class="center-dialog">
	<form name="form" #form="ngForm">
		<input hidden name="id" [(ngModel)]="model.id">
		<h2 class="subtitle">{{timeline.title}}</h2>
		<div class="field">
			<div class="control">
				<mat-form-field>
					<input matInput required name="date" [(ngModel)]="model.date" placeholder="Record Date">
					<!-- <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
					<mat-datepicker #myDatepicker></mat-datepicker> -->
				</mat-form-field>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<ngx-editor name="content" required [config]="editorConfig"
					[(ngModel)]="model.content"></ngx-editor>
			</div>
		</div>
		<button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
	</form>
</div>