<div class="center-dialog">
	<form name="form" #form="ngForm">
		<input hidden name="recordId" [(ngModel)]="model.recordId">
		<div class="field">
			<div class="control">
				<mat-form-field>
					<mat-label>Choose record date</mat-label>
					<input matInput required name="date" [(ngModel)]="model.date" [matDatepicker]="picker">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<!-- <ngx-editor name="content" required [config]="editorConfig"
					[(ngModel)]="model.content"></ngx-editor> -->
				<mat-form-field>
					<mat-label>Content</mat-label>
					<textarea matInput placeholder="Input something here..." name="content" [(ngModel)]="model.content"
						required></textarea>
				</mat-form-field>
			</div>
		</div>
		<div class="level is-mobile">
			<div class="level-left"></div>
			<div class="level-right">
				<button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
			</div>
		</div>
	</form>
</div>