<div class="tile is-ancestor">
  <div class="tile is-parent is-8">
    <article class="tile notification is-warning is-vertical">
      <p class="tile is-child"><img src="../assets/zhou.png"></p>
      <div class="tile is-child" *ngFor="let t of timelines$ | async">
        <a [routerLink]="['timeline', t.id]">
          {{t.title}}
        </a>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile notification is-info is-vertical">
      <p class="tile is-child">
        <img src="../assets/ke.png">
      </p>
      <div class="tile is-child" *ngFor="let r of years">
        <a [routerLink]="['records', r]">
          {{r}}
        </a>
      </div>
    </article>
  </div>
</div>