<div class="tile is-ancestor">
  <div class="tile is-parent is-9">
    <div class="tile is-vertical">
      <p style="margin-bottom: 1em;"><img src="../assets/zhou.png"></p>
      <div class="tile is-child" *ngFor="let t of timelines$ | async">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <p>
                <a [routerLink]="['timeline', t.timelineId]"><strong
                    style="font-size:1.25em;">{{t.title}}</strong></a><small
                  class="is-size-7 has-text-grey-light by-owner">&nbsp;by {{t.ownerName}}</small>
                <br>
                <small>{{t.description}}</small>
                <br>
                <small>{{t.lastChanged | amTimeAgo}}</small>
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile notification is-info is-vertical">
      <p class="tile is-child">
        <img src="../assets/ke.png">
      </p>
      <div class="tile is-child" *ngFor="let r of years">
        <a [routerLink]="['records', r]">
          My {{r}}
        </a>
      </div>
    </article>
  </div>
</div>