<nav class="navbar is-fixed-top is-transparent is-primary top-nav" role="navigation" aria-label="main navigation">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" routerLink="/">
				<img src="../assets/favicon.png" height="100">
			</a>
			<a class="navbar-item" routerLink="/">
				<img src="../assets/logo.png" height="100">
			</a>

			<a role="button" class="navbar-burger burger" [class.is-active]="burgerActive" aria-label="menu"
				aria-expanded="false" data-target="navbarBasic" (click)="burgerActive = !burgerActive">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
		</div>
		<div id="navbarBasic" class="navbar-menu" [class.is-active]="burgerActive">
			<div class="navbar-start" *ngIf="editable">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						<img src="../assets/zhou.png">
					</a>
					<div class="navbar-dropdown">
						<a class="navbar-item" [class.is-active]="activeTopicKey == item.timelineId"
							*ngFor="let item of timelines$ | async" [routerLink]="['/t/', item.timelineId]"
							(click)="burgerActive = false">
							<div class="level">
								<div class="level-left">{{item.title}}</div>
								<div class="level-right">
									<span class="icon level-item" *ngIf="item.protectLevel == 'Protected'">
										<i class="fas fa-lock"></i>
									</span>
								</div>
							</div>
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item" (click)="createNew()">
							Create New Timeline
						</a>
					</div>
				</div>
				<!-- <div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						<img src="../assets/ke.png">
					</a>
					<div class="navbar-dropdown">
						<a class="navbar-item" *ngFor="let item of years" [routerLink]="['/records/', item]"
							(click)="burgerActive = false">
							My {{item}}
						</a>
					</div>
				</div> -->
				<!-- <a class="navbar-item" routerLink="/manage/images" *ngIf="editable" (click)="burgerActive = false">
					My Images
				</a> -->
			</div>

			<div class="navbar-end">
				<button class="navbar-item button is-primary is-inverted is-outlined" *ngIf="isAuthorized === false"
					(click)="login()">Sign In</button>
				<div class="navbar-item has-dropdown" [class.is-active]="accountActive" *ngIf="isAuthorized === true"
					(mouseleave)="accountActive = false" (mouseenter)="accountActive = true">
					<a class="navbar-link">
						<ngx-avatar [name]="userData.name" size="25"></ngx-avatar>&nbsp;{{userData.name}}
					</a>

					<div class="navbar-dropdown is-right">
						<a class="navbar-item" (click)="logout()">
							Sign Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>