@media all and (min-width: 480px) {
    .login {
        padding-top: 100px;
    }

    .login form {
        margin: 0 auto;
        max-width: 292px;
    }
}

.full-width {
    width: 100%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    width: 200px;
    height: 200px;
}

.linkedin {
    width: 292px;
    height: 40px;
    background: url("../assets/linkedin/Sign-In-Small---Default.png") no-repeat;
    cursor: pointer;
}

.linkedin:hover {
    background: url("../assets/linkedin/Sign-In-Small---Hover.png") no-repeat;
}

.openid {
    margin-top: 1rem;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-block {
    display: block;
    width: 100%;
    margin-top: 5px;
}

/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2016 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2)
}

.btn-github {
    color: #fff;
    background-color: #444;
    border-color: rgba(0,0,0,0.2)
}

.btn-github:focus, .btn-github.focus {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2)
}

.btn-github:hover {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
    color: #fff;
    background-color: #2b2b2b;
    border-color: rgba(0,0,0,0.2)
}

.btn-github:active:hover, .btn-github.active:hover, .open > .dropdown-toggle.btn-github:hover, .btn-github:active:focus, .btn-github.active:focus, .open > .dropdown-toggle.btn-github:focus, .btn-github:active.focus, .btn-github.active.focus, .open > .dropdown-toggle.btn-github.focus {
    color: #fff;
    background-color: #191919;
    border-color: rgba(0,0,0,0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
    background-image: none
}

.btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled.focus, .btn-github[disabled].focus, fieldset[disabled] .btn-github.focus {
    background-color: #444;
    border-color: rgba(0,0,0,0.2)
}

.btn-github .badge {
    color: #444;
    background-color: #fff
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2)
}

.btn-linkedin:focus, .btn-linkedin.focus {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0,0,0,0.2)
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0,0,0,0.2)
}

.btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0,0,0,0.2)
}

    .btn-linkedin:active:hover, .btn-linkedin.active:hover, .open > .dropdown-toggle.btn-linkedin:hover, .btn-linkedin:active:focus, .btn-linkedin.active:focus, .open > .dropdown-toggle.btn-linkedin:focus, .btn-linkedin:active.focus, .btn-linkedin.active.focus, .open > .dropdown-toggle.btn-linkedin.focus {
        color: #fff;
        background-color: #00405f;
        border-color: rgba(0,0,0,0.2)
    }

.btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
    background-image: none
}

.btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled.focus, .btn-linkedin[disabled].focus, fieldset[disabled] .btn-linkedin.focus {
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2)
}

.btn-linkedin .badge {
    color: #007bb6;
    background-color: #fff
}

.btn-microsoft {
    color: #fff;
    background-color: #2672ec;
    border-color: rgba(0,0,0,0.2)
}

.btn-microsoft:focus, .btn-microsoft.focus {
    color: #fff;
    background-color: #125acd;
    border-color: rgba(0,0,0,0.2)
}

.btn-microsoft:hover {
    color: #fff;
    background-color: #125acd;
    border-color: rgba(0,0,0,0.2)
}

.btn-microsoft:active, .btn-microsoft.active, .open > .dropdown-toggle.btn-microsoft {
    color: #fff;
    background-color: #125acd;
    border-color: rgba(0,0,0,0.2)
}

    .btn-microsoft:active:hover, .btn-microsoft.active:hover, .open > .dropdown-toggle.btn-microsoft:hover, .btn-microsoft:active:focus, .btn-microsoft.active:focus, .open > .dropdown-toggle.btn-microsoft:focus, .btn-microsoft:active.focus, .btn-microsoft.active.focus, .open > .dropdown-toggle.btn-microsoft.focus {
        color: #fff;
        background-color: #0f4bac;
        border-color: rgba(0,0,0,0.2)
    }

.btn-microsoft:active, .btn-microsoft.active, .open > .dropdown-toggle.btn-microsoft {
    background-image: none
}

.btn-microsoft.disabled:hover, .btn-microsoft[disabled]:hover, fieldset[disabled] .btn-microsoft:hover, .btn-microsoft.disabled:focus, .btn-microsoft[disabled]:focus, fieldset[disabled] .btn-microsoft:focus, .btn-microsoft.disabled.focus, .btn-microsoft[disabled].focus, fieldset[disabled] .btn-microsoft.focus {
    background-color: #2672ec;
    border-color: rgba(0,0,0,0.2)
}

.btn-microsoft .badge {
    color: #2672ec;
    background-color: #fff
}