<div class="center-dialog">
  <section class="section">
    <h2 class="subtitle">刻编辑</h2>
  </section>
  <form name="form" #form="ngForm">
    <div class="field">
      <div class="control">
        <mat-form-field>
          <input matInput required name="date" [(ngModel)]="model.date" placeholder="Date">
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field>
          <input matInput required name="title" [(ngModel)]="model.title" placeholder="Title">
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <mat-form-field>
          <input matInput name="location" [(ngModel)]="model.location" placeholder="location">
        </mat-form-field>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <img [src]="model.imageUrl">
        <input type="file" (change)="onFileChanged($event)">
        <mat-form-field>
          <input matInput name="imageUrl" [(ngModel)]="model.imageUrl" placeholder="Image Url">
        </mat-form-field>
        <input hidden name="thumbnailUrl" [(ngModel)]="model.thumbnailUrl">
        <a class="button is-primary" (click)="onUploadClicked()">上传</a>
      </div>
    </div>

    <button-group (submit)="onSubmit(form.value)" (cancel)="onCancel()" [isValid]="form.valid"></button-group>
  </form>
</div>