<div class="timeline-item">
  <div class="timeline-marker"></div>
  <div class="timeline-content" *ngIf="isReadMode; else editTemplate">
    <p class="heading">{{record.date | date: 'MMMM dd'}}</p>
    <p [innerHTML]="record.content"></p>
    <div class="level is-mobile" *ngIf="editable" style="padding-top: 5px">
      <div class="level-left"></div>
      <div class="level-right">
        <a matTooltip="Edit" class="level-item" (click)="isReadMode = false">
          <span class="icon is-small">
            <i class="fa fa-edit"></i>
          </span>
        </a>
        <a matTooltip="Delete" class="level-item" (click)="delete.emit(record.id)">
          <span class="icon is-small">
            <i class="fa fa-trash-alt"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <ng-template #editTemplate>
    <div class="timeline-content">
      <app-record-editor [model]="record" (complete)="isReadMode = true"></app-record-editor>
    </div>
  </ng-template>
</div>