@import '_constants';
@import '_scrollbar';

@import './1-layouts/_bg';
@import './1-layouts/_navbar';

@import './2-modules/record';
@import './2-modules/timeline';
@import './2-modules/moment-editor';
@import './2-modules/image-viewer';

.has-navbar-fixed-top {
  padding-top: 4rem !important;
}

.main {
  background-color: white;
  height: 100%;
  padding: 0 1rem;
}

.is-fullwidth {
  width: 100%;
}

.editor-container {
  min-width: 400px;
}

.mat-radio-button {
  margin: 0 12px;
}

.mat-hint {
  font-size: small;
}